.button {
  display: flex;
  flex-wrap: wrap;
  place-content: center;
  border-radius: var(--rounded-lg);
  border: 2px solid transparent;
  min-width: 44px;
  min-height: 44px;
  width: max-content;
  font-size: 18px;
  font-weight: var(--font-weight-medium);
  text-align: center;
  color: var(--neutral-dark);
  background-color: transparent;
  cursor: pointer;
}

.button::after {
  content: none;
}

.button--primary {
  padding: var(--spacing-xxs) var(--spacing-sm);
  box-shadow: var(--box-shadow);
  background-color: var(--primary-2);
}

.button--primary:hover {
  background-color: var(--primary-2-darker);
}

.button--secondary {
  border-color: var(--primary-2);
  box-shadow: var(--box-shadow);
  padding: var(--spacing-xxs) var(--spacing-sm);
}

.button--seconday:hover {
  border-color: var(--primary-2-darker);
}

.button--ghost {
  color: var(--primary-1-darker);
  padding: var(--spacing-xxs) 0;
  text-align: left;
}

.button--ghost:hover {
  color: var(--primary-1-darker);
}

.button__icon {
  display: inline-block;
  border-radius: 0;
  width: 1em;
  vertical-align: text-top;
  aspect-ratio: 1/1;
  object-fit: contain;
}

.button__text:not(:last-child) {
  padding-right: var(--spacing-xxs);
}