.specials-section__container {
  padding-top: 64px;
  padding-bottom: 64px;
  grid-row: 2;
}

.specials-section__header {
  grid-column: col-start 3 / span 8;
  display: flex;
  justify-content: space-between;
  gap: 16px
}

.specials-section__title {
  grid-column: col-start / span 5;
}

.specials-section__teaser-list {
  display: grid;
  grid-template-columns: repeat(8, [col-start] 1fr);
  grid-column: col-start 3 / span 8;
  gap: 16px;
}
