.specials-section__container {
  grid-row: 2;
}

.specials-section__header {
  grid-column: col-start 3 / span 8;
  display: flex;
  justify-content: space-between;
  gap: var(--spacing-xs)
}

@media screen and (min-width: 561px) {
  .specials-section__header {
    align-items: flex-end;
  }
}

@media screen and (max-width: 560px) {

  .specials-section__header {
    flex-direction: column;
  }

  .specials-section__title {
    text-align: center;
  }

  .specials-section__button {
    align-self: center;
  }
}

.specials-section__teaser-list {
  display: grid;
  grid-template-columns: repeat(6, [col-start] 1fr);
  grid-column: col-start 3 / span 8;
  gap: var(--spacing-xs);
}

@media screen and (max-width: 1200px) {
  .specials-section__header,
  .specials-section__teaser-list {
    grid-column: col-start 2 / span 10;
  }
}

@media screen and (max-width: 960px) {
  .specials-section__header,
  .specials-section__teaser-list {
    grid-column: col-start 1 / span 12;
  }
}
