.dish-teaser {
  grid-column: span 2;
  border-radius: var(--rounded-lg) var(--rounded-lg) var(--rounded-sm) var(--rounded-sm);
  box-shadow: var(--box-shadow);
  overflow: hidden;
  background-color: var(--bg-highlighted);
}

.dish-teaser__image-wrapper {
  overflow: hidden;
  aspect-ratio: 4/3;
}

.dish-teaser__img {
  border-radius: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.dish-teaser__text-wrapper {
  display: flex;
  flex-direction: column;
  padding: var(--spacing-xs);
  gap: var(--spacing-xxs);
}

.dish-teaser__header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
}

.dish-teaser__price {
  font-weight: var(--font-weight-medium);
  font-size: 18px;
}