.call-to-action-section {
  color: var(--text-on-dark);
}

.call-to-action-section__container {
  padding-top: var(--spacing-xxxl);
}

.call-to-action-section__text-wrapper {
  position: relative;
  grid-column: col-start 3 / span 4;
  grid-row: span 1;
  padding-bottom: var(--spacing-xxxl);
  gap: var(--spacing-xs);
}

.call-to-action-section__text-wrapper::before {
  content: '';
  position: absolute;
  top: calc(var(--spacing-xxxl) * -1);
  left: 50%;
  z-index: -1;
  width: 200vw;
  height: calc(100% + var(--spacing-xxxl));
  transform: translateX(-50vw);
  background-color: var(--bg-dark);
}

.call-to-action-section__title {
  color: var(--primary-2);
}

.call-to-action-section__subtitle {
  color: currentColor;
}

.call-to-action-section__text {
  margin-top: var(--spacing-xs);
  font-size: 18px;
}

.call-to-action-section__button {
  margin-top: var(--spacing-md);
}

.call-to-action-section__image-wrapper {
  position: relative;
  grid-column: col-start 8 / span 3;
  grid-row: span 2;
  margin-bottom: -var(--spacing-xxxl);
  aspect-ratio: 3/4;
}

.call-to-action-section__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: var(--box-shadow);
}
