.header {
  flex: 1;
}

.header__container {
  padding-top: var(--spacing-xxs);
  padding-bottom: var(--spacing-xxs);
  align-items: center;
}

.header__logo {
  grid-column: col-start 3 / span 2;
}

.logo__img--header {
  display: block;
  max-width: 200px;
  height: auto;
}

.header-nav {
  grid-column: col-start 5 / span 6;
}

.header-nav__list {
  display: flex;
  justify-content: flex-end;
  gap: var(--spacing-md);
  list-style: none;
  margin: 0;
  padding: 0;
}