@mixin styles {
  @font-face {
    font-family: karla;
    src:
      local("Karla"),
      url("/src/assets/fonts/Karla-VariableFont_wght.ttf") format("woff2-variations");
    font-weight: 400 500 700 900;
    font-display: swap;
    font-style: normal;
  }

  @font-face {
    font-family: markazitext;
    src:
      local("Markazi Text"),
      url("/src/assets/fonts/MarkaziText-VariableFont_wght.ttf") format("woff2-variations");
    font-weight: 500;
    font-display: swap;
    font-style: normal;
  }
}