:root {
  /*** COLORS ***/

  /* primary colors */
  --primary-1: #495E57;
  --primary-1-darker: hsl(from var(--primary-1) h s calc(l - 5));
  --primary-2: #F4CE14;
  --primary-2-darker: hsl(from var(--primary-2) h s calc(l - 5));

  /* secondary colors */
  --secondary-dark: #EE9972;
  --secondary-light: #FBDABB;

  /* neutral colors */
  --neutral-white: #ffffff;
  --neutral-light: #EDEFEE;
  --neutral-dark: #333333;


  /*** TYPO ***/
  --font-serif: 'markazitext', Georgia, serif;
  --font-sans: 'karla', Arial, sans-serif;
  --font-size-base: 16px;
  --line-height-base: 1.125;
  --line-height-airy: 1.5;


    /* font-weight */
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    --font-weight-extrabold: 800;


  /*** ***/
  --bg-default: var(--neutral-white);
  --bg-variant: var(--neutral-light);
  --bg-highlighted: var(--primary-2);
  --bg-dark: var(--primary-1);
  --text-default: var(--primary-1);
  --text-variant: var(--neutral-dark);
  --text-on-dark: var(--neutral-light);
  --text-on-highlighted: var(--text-default);

  --rounded-sm: 8px;
  --rounded-lg: 16px;
  --box-shadow: 0 4px 4px color-mix(in srgb, var(--neutral-dark), transparent 50%);

  --spacing-base: 8px;
  --spacing-xxs: var(--spacing-base);             /* 8px */
  --spacing-xs: calc(var(--spacing-base) * 2);    /* 16px */
  --spacing-sm: calc(var(--spacing-base) * 3);    /* 24px */
  --spacing-md: calc(var(--spacing-base) * 4);    /* 32px */
  --spacing-lg: calc(var(--spacing-base) * 5);    /* 40px */
  --spacing-xl: calc(var(--spacing-base) * 6);    /* 48px */
  --spacing-xxl: calc(var(--spacing-base) * 7);   /* 56px */
  --spacing-xxxl: calc(var(--spacing-base) * 8);  /* 64px */
}