.customers-say {
  display: flex;
  flex-direction: column;
  grid-column: span 2;
  gap: var(--spacing-xs) var(--spacing-xxs);
  border-radius: var(--rounded-sm);
  box-shadow: var(--box-shadow);
  margin: 0;
  padding: var(--spacing-xs);
  color: var(--text-on-dark);
  background-color: var(--bg-dark);
}

@media screen and (max-width: 768px) {
  .customers-say {
    min-width: 180px;
  }
}

.customers-say__wrapper {
  display: flex;
  grid-column: col-start 3 / span 8;
  gap: var(--spacing-xxs);
  align-items: center;
}

@media screen and (max-width: 1200px) {
  .customers-say__wrapper {
    grid-column: col-start 5 / span 8;
  }
}

@media screen and (max-width: 960px) {
  .customers-say__wrapper {
    grid-column: col-start 5 / span 9;
  }
}

.customers-say__rating {
  font-size: 18px;
  font-weight: var(--font-weight-medium);
}

.customers-say__rating-icon {
  display: inline-block;
  margin-right: var(--spacing-xxs);
  width: 1em;
  vertical-align: text-top;
}

.customers-say__image-wrapper {
  flex: 0 1 60px;
  aspect-ratio: 1/1;
}

.customers-say__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.customers-say__name {
  flex: 3 1;
  margin: 0;
  font-style: normal;
  font-size: 18px;
  font-weight: var(--font-weight-bold);
}

.customers-say__quote::before {
  content: open-quote;
}

.customers-say__quote::after {
  content: close-quote;
}
