.footer-section {
  color: var(--text-on-dark);
  background-color: var(--bg-dark);
}

.footer-section__container {
  grid-row: 1;
}

.footer-section__logo {
  grid-column: col-start 3 / span 2;
}

.logo__img--footer {
  border-radius: 0;
  width: 100%;
  height: auto;
  max-height: 180px;
  object-fit: contain;
  object-position: top left;
  filter: brightness(100)
}

.footer-nav {
  grid-column: col-start 5 / span 6;
}

.footer-nav__list {
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  grid-row: 1;
  gap: var(--spacing-lg) var(--spacing-xs);
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-nav__section {
  grid-column: span 4;
}

.footer-nav__section-title {
  margin-bottom: 1em;
  color: currentColor;
}

.footer-nav__section-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 0;
  padding: 0;
  list-style: none;
}

@media screen and (max-width: 1200px) {
  .footer-section__logo {
    grid-column: col-start 2 / span 2;
  }

  .footer-nav {
    grid-column: col-start 5 / span 7;
  }
}

@media screen and (max-width: 960px) {
  .footer-section__logo {
    grid-column: col-start 1 / span 2;
  }

  .footer-nav {
    grid-column: col-start 4 / span 9;
  }
}

@media screen and (max-width: 768px) {
  .footer-section__container {
    padding-top: var(--spacing-md);
    padding-bottom: var(--spacing-md);
  }
  .footer-section__logo {
    grid-column: col-start 1 / span 2;
  }

  .footer-nav {
    grid-column: 4 / span 9;
  }

  .footer-nav__section {
    grid-column: span 12;
  }
}