.testimonials-section {
  color: var(--text-on-highlighted);
  background-color: var(--bg-highlighted);
}

.testimonials-section__container {
  padding-top: var(--spacing-xxxl);
  padding-bottom: var(--spacing-xxxl);
  grid-row: 2;
}

.testimonials-section__title {
  grid-column: col-start 3 / span 8;
  text-align: center;
}

.testimonials-section__customers-say {
  display: grid;
  grid-template-columns: repeat(8, [col-start] 1fr);
  grid-column: col-start 3 / span 8;
  gap: var(--spacing-xs);
}
